.navegacao
{
    background-color: rgb(252, 251, 251);
    box-shadow: 0px 5px 10px rgb(218, 216, 216);
    width: 100%;
}

.menus
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;

}

.menus{
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    margin-right: 100px;
    font-size: large;
    color: blueviolet;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: dotted;
    color: rgb(255, 0, 200);
}
.logoheader
{
    margin-right: 600px;
}



@media screen and (max-width:375px){
    
}

@media screen and (max-width: 900px){
    .navegacao{
        width: 900px;
    }

    .logoheader{
        margin-left: 0px;
        margin-right: 200px;
    }

    .menus{
        display: flex;
        justify-content: space-around;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 1200px) {
    
    .navegacao{
        width: 1200px;
    }

    .logoheader{
        margin-left: 0px;
        margin-right: 200px;
    }

    .menus{
        display: flex;
        justify-content: space-around;
        margin-left: 0;
        margin-right: 0;
    }
}